@use "./variables.module";


.fancyButton {
  align-items: center;
  background-color: variables.$paper;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fancyButton:after {
  background-color: variables.$accent;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.fancyButton:hover:after {
  transform: translate(0, 0);
}

.fancyButton:active {
  background-color: variables.$accent;
  outline: 0;
}

.fancyButton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .fancyButton {
    padding: 0 40px;
  }
}