@use "./variables.module";

.root {
  display: none;
  //left: 0;
  background-color: variables.$paper;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 40px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 800px) {
    display: block;
    position: sticky;
    top: 70px;
    width: 300px;
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.filter {
  width: 100px;
  display: inline-flex;
}