@use "./variables.module";

.root {
  margin-top: 70px;
  width: 300px;
  margin-right: 40px;
  background-color: variables.$paper;
  height: 100%;
  padding: 20px 40px;
  border-radius: 10px;
}

.filter {
  width: 100px;
  display: inline-flex;
}