@use "./variables.module";

$radius: 10px;

.container {
  width: 185px;
  height: 278px;
  position: relative;
}

.card {
  background-color: variables.$paper;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: $radius;
}

.cardActions {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: $radius;
  transition: all 0.25s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.9) 100%);
  opacity: 0;

  &:hover {
    opacity: 1;

  }

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  font-size: 18pt;
}

.title {
  margin: 10px 0;
  padding: 0 10px;
  font-size: 10pt;
  width: 185px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  border-radius: $radius;
  //background-color: variables.$paper;
}

.modal {

  display: flex;
  flex-direction: column;
  justify-content: start;
  h2 {
    font-size: 28pt;
    font-weight: 700;
    margin-bottom: 20px;
  }

  padding-left: 20px;
  background-size: cover;
  background-color: variables.$bg;
  min-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  border-radius: 20px;
  width: calc(100% - 40px);
  @media screen and (min-width: 900px) {
    width: 800px;
  }
}

.modalClose {
  position: absolute;
  right: 10px;
  top: 10px;
}

.genres {
  font-size: 14pt;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
}
.overview {
  line-height: 1.5em;
  padding-right: 40px;
  flex: 1;
}

.modalToolbar {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
}